* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  background-color: #000;
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 20px solid #000;
}
